<%- include("header") -%>
<center>
<h1> <br><br>About</h1>

<p>
   <center>

     <h2>A ToDo List Web App with separate page for work and daily list. :) </h2>

  </p>
</center>

  <%- include("footer") -%>
